@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

a{
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar{
    display: none;
}

body{
    background: url('./assets/login_background.jpg');
    background-color: rgba(0, 0, 0, 0.727);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Raleway", sans-serif;
    background-attachment: fixed;
}